__pycache__/
*.py[cod]
*$py.class
eggs/
.eggs/
*.egg-info/
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
instance/
.webassets-cache
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea
*.iml
resources/tensorboard
/resources/evaluation/metrics.json
/resources/evaluation/classification_report.png
/resources/evaluation/confusion_matrix.png
/requirements.txt
