[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
tensorboard = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"

[packages]
mowgli = {editable = true,path = "."}
tensorflow = "==2.1.0"
scikit-learn = "*"
seaborn = "*"

[scripts]
lint = "pylint mowgli"
train = "python mowgli/train.py"
